<?xml version="1.0"?>
<configuration>


  <location path="QformUpdate">
    <system.web>
      <authorization> 
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="QformAdd">
    <system.web>
      <authorization> 
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Qformslist">
    <system.web>
      <authorization> 
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
